:root {
  --f1-red: #e10600;

  --bg-black: #000000;

  --card-black: #111111;

  --text-white: #ffffff;

  --text-gray: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1400px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  font-family: "Orbitron", sans-serif;

  background-color: #000000;

  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: #111111;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

button {
  padding: 12px 24px;
  border: none;
  background-color: #e10600;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

section {
  margin: 60px 40px;
}

h1 {
  margin: 20px;
}

#hero {
  min-height: 80vh;
  padding: 0 40px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../images/hero.jpg");

  background-size: cover;

  background-position: center;
}

#hero h2 {
  font-size: 4rem;
}

#hero h3 {
  font-size: 2rem;
  color: #e10600;
}

#hero p {
  margin: 20px auto;

  max-width: 700px;
}
.stat-card,
.team-card,
.tech-card {
  padding: 20px;
}

#stats {
  display: flex;
  gap: 20px;
}

.stat-card {
  background-color: #111111;
  padding: 25px;
  flex: 1;
  border: 1px solid #333;
  border-radius: 12px;
  transition: 0.3s;
}

.stat-card:hover {
  border-color: #e10600;
  transform: translateY(-5px);
}

.stat-card h4 {
  color: #888;
}

.stat-card p {
  font-size: 2rem;
  font-weight: bold;
}

#teams {
  margin-top: 100px;
  display: grid;
  gap: 20px;
}

#teams h2 {
  margin-bottom: 10px;
}

#teams > p {
  margin-bottom: 40px;
}

.section-header {
  margin-bottom: 40px;
}

.team-card {
  background-color: #111111;

  padding: 20px;

  border: 1px solid #333;

  border-radius: 12px;

  transition: 0.3s;
}

.team-card:hover {
  border-color: #e10600;
  transform: translateY(-5px);

  box-shadow: 0 10px 20px rgba(225, 6, 0, 0.15);
}

.team-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

.team-card h3 {
  color: white;
  margin: 10px 0;
}

.team-card p:first-child {
  color: #e10600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.engineering-content {
  display: flex;
  gap: 40px;
}

.engineering-text {
  flex: 1;
}

.engineering-image {
  flex: 1;

  background-color: #111111;

  border-radius: 12px;

  min-height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 20px;

  margin-top: 30px;
}

.tech-card {
  background-color: #111111;

  padding: 20px;

  border-radius: 12px;

  border: 1px solid #333;
}
